<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <script src="index.js"></script>
	</head>
	<body>
		<h1>pipeる</h1>
        <div id="twitter">
		    <p>twitter<%- twitterButton%></p>
        </div>

        <div id="github">
          <p>github<%- githubButton%></p>
        </div>
	</body>
</html>
