<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
	</head>
	<body>
		<h1>pipeる</h1>
		<form method="post" action="/nameChange" >
            <input type="text" value="name" name="name">
			<p><input type="checkbox" value="twitter" name="twitter">twitter<%- twitterButton%></p>
            <p><input type="checkbox" value="github" name="github">github<%- githubButton%></p>
			<input type="submit" value="set">
		</form>
	</body>
</html>
