<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title>IconChanger</title>
	</head>
	<body>
		<h1>pipe</h1>
		<form method="post" enctype="multipart/form-data" action="/IconImage" >
			<p><input type="checkbox" value="twitter" name="twitter">twitter<%- twitterButton%></p>
            <p><input type="checkbox" value="github" name="github">github<%- githubButton%></p>
			<input type="submit" value="set">
		</form>
	</body>
</html>
